body {
  background-color:#ADD8E6;
}
.text{
  display: inline-block;
  position: static;
  border: dotted black;
  margin-left: 390px;
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "NotoColorEmoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
  font-size: 12pt;
}
.s{
  display: block;
  width: 500px;
  position: static;
  border: dotted black;
  margin-left: 500px;
  margin-bottom: 5px;
  text-align: center;
}
.form{
  border: solid black;
  border-radius: 5px;
  border-width: 3px ;
}
.cat{
  width: 200px;
  height: 150px;
}
.table{
  border:solid black;
  padding: 5px;
  border-radius: 10px;
}
hr {
  border-style: none;
  background-color: black;
  height: 2px;
}
h1 {
  color: #468284;
}
